* {
    background-color: bisque;
    color: blue;
}

h3 {
    background-color: red;
    color: white;
}

h4,p {
    font-size: 18px;
    color: orangered;
}

#idslctr {
    text-align: center;
}

.cls {
    color: chartreuse;
    text-decoration: overline;
    font-size: larger;
}